{
    "name": "student{{ item }} Remote Desktop",
    "protocol": "rdp",
    "attributes": {
        "max-connections": "",
        "max-connections-per-user": ""
    },
    "activeConnections": 0,
    "parameters": {
        "port": "3389",
        "enable-menu-animations": "",
        "enable-desktop-composition": "",
        "hostname": "student{{ item }}.{{ec2_name_prefix}}.{{ domain }}",
        "color-depth": "",
        "enable-font-smoothing": "",
        "ignore-cert": "true",
        "enable-drive": "",
        "enable-full-window-drag": "",
        "security": "rdp encryption",
        "password": "{{ password }}",
        "enable-wallpaper": "",
        "create-drive-path": "",
        "enable-theming": "",
        "username": "student{{ item }}",
        "console": "",
        "disable-audio": "",
        "domain": "",
        "drive-path": "",
        "disable-auth": "",
        "server-layout": "",
        "width": "",
        "height": "",
        "dpi": "",
        "console-audio": "",
        "enable-printing": "",
        "preconnection-id": "",
        "enable-sftp": "",
        "sftp-port": ""
    }
}
